html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style: none;
}

#app {
    position: relative;
    height: 100%;
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*-------------------左侧列表--------------------*/

.left {
    position: absolute;
    width: 23%;
    height: 100%;
    left: 0;
}

.left li {
    padding: 30px 5px;
    padding-right: 7px;
    border-bottom: 1px solid #ccc;
    border-left: 3px solid transparent;
    font-size: 16px;
    text-align: center;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.left li:last-child {
    border-bottom: none;
}

.left li.active {
    font-weight: bold;
    border-left-color: red;
    background-color: #efefef;
    border-right: 1px solid #ccc;
}

/*-------------------右侧列表--------------------*/

.right {
    position: absolute;
    width: 77%;
    height: 100%;
    right: 0;
    border-left: 1px solid #ccc;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.right .typename {
    margin: 0;
    margin-bottom: 20px;
    padding: 5px 0;
    padding-left: 10px;
    background-color: #efefef;
}

.right li {
    margin: 20px 0;
}

.right li ul {
    padding-left: 10px;
}

.right li li {
    margin: 50px 0;
}

.good-name {
    float: left;
}

/*---------------------购物车---------------------*/

.goodscart {
    height: 100%;
}

.price {
    position: absolute;
    top: 32px;
    left: 60px;
}

.count {
    position: absolute;
    top: 32px;
    right: 20px;
}

.price-edit {
    left: 12px;
}

.top-bar {
    position: relative;
    height: 40px;
}

.top-bar h5 {
    float: left;
    font-size: 16px;
    color: #666;
    line-height: 36px;
    margin-left: 20px;
}

.top-bar button {
    position: absolute;
    right: 10px;
    top: 5px;
}

.mui-input-group .mui-input-row {
    height: 60px;
}

.mui-input-row label {
    padding-bottom: 30px !important;
}