<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="left">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <ul>
                    <li v-for="(item,index) in goods" v-text="item.typename" :class="{active: curIndex === index}" @click="selectType(index)"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="swiper-wrapper" ref="wrapper">
            <div class="swiper-slide">
                <ul>
                    <li v-for="item in goods" ref="rightType" class="right-type">
                        <h4 v-text="item.typename" class="typename"></h4>
                        <ul>
                            <li v-for="(good,index) in item.good">
                                <div v-text="good.name" class="good-name"></div>
                                <span>￥{{good.price}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/goodslist.js"></script>
</body>

</html>